/*浮动文字  时间 背景*/
.FloatWordspan{
	display:none;
}
/*整体布局*/
.nojs {display:none;}
#logo {
	line-height:1.5em;
	font-size: 6em;
}
.level1_out {
	padding:0 5%; top:300px; height:auto;
	text-align:center;
}
.level1_in {
	padding:0 3%;  width:37%;
	font-size:1.3em;
}
.level1_in  img{
	float:left;
	width:60px; height:60px;
}
.level1_in  span{
	float:left;
	width:2.7em;
}
.level2_left {
	position:static;
	width:100%; height:auto;
	text-align:center;
}
.level2_left_in_small  , .level2_left_in_small_choose{
	position:static; float:left;height:auto; width:20%;
	font-size:0.9em; color:black;
}
.level2_left_in_small_choose{
	background:#000000; color:#FFFFFF;
	filter:alpha(opacity=40);  opacity: 0.4;  -moz-opacity:0.4;
}
.level2_left_in_txt{
	position:static; float:left;
	height:100%; width:100%;
	font-size:1.3em; line-height: 2em;
	background:none; color:inherit;
}

.level2_right {
	clear:both; position:static;
	width:100%; height:100%;
	border-top:1px solid gray;
}
.level2_content{
	margin-left:0px; height:100%;
}

.level2_content_up{
	font-size:0.8em;
}
.level2_content_up_in,.level2_content_up_in_choose{
}
.level2_left_in_small :hover{
	opacity: 0.4;
	-webkit-opacity:0.4;
	-o-opacity:0.4;
	-moz-opacity:0.4;
	filter:alpha(opacity=40);
	color:white; background:black;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.level2_content_up_in_choose {
	background:#000000; color:#FFFFFF;
	filter:alpha(opacity=40);  opacity: 0.4;  -moz-opacity:0.4;
}

.level2_content_bottom {
	display:block; padding:1em 0 0 2em;
	font-size:0.8em;
}
.level2_content_bottom_in_txt,.level2_content_bottom_in_icotxt {
	display:inline-block; width:100%; padding: 0;
	font-size:1.2em; line-height: 1.7em; color:#3c3c3c;
}