/*浮动层*/
.floatdiv{	width:60%; height:auto; display:none;
		background:#EDF1F8;	 border: 0.2em solid #849BCA; 
		position:absolute;
		z-index:100;  -moz-user-select:none; border-radius:5px;} 
.floatdiv_title {padding:1em 0 0.5em; margin:0 5%; float:top; top:0; text-align:center; font-weight:bold; font-size:1.5em; width:90%; background:#EDF1F8; z-index:3;}
.floatdiv_detail {padding:0.5em 0 1.5em; margin: 0 5%; width:90%; background:#EDF1F8; z-index:1; height:auto; overflow:auto; border-top:2px dashed rgba(100, 200, 255, 1);}
.floatdiv_detail > p {text-indent: 2em; line-height:1.6em;}
.floatdiv_linker {padding:1em 0 1.5em; margin:0 5%; position:absolute; bottom:0; background:#EDF1F8; width:90%; z-index:2;  border-top:2px dashed rgba(100, 200, 255, 1);}
.floatdiv_button {font-size:1em; top:0; right:0; position:absolute; padding:0.5em; cursor:pointer; z-index:500; }

.floatdiv_linker a{
	display:block; float:left;
	padding:0.7em 1em;
	margin-left:10px;
}
.floatdiv_linker a:hover,.floatdiv_button:hover{
	color:white; background:#849BCA;
}
.floatdiv_linker a:hover{
	border-radius:4px;
}
.floatdiv a:hover{
	text-decoration: none;
}


.t_r,.t_l,.m_l,.m_r,.b_l,.b_r { width:10px; }
.t_l,.t_m,.t_r,.b_l,.b_m,.b_r {height:10px; }

.t_l,.t_m,.t_r{position:absolute; top:0; z-index:20; font-size:0%; }
.t_l{left:0; cursor:nw-resize;}
.t_m{z-index:10; width:100%; cursor:n-resize;}
.t_r{right:0; cursor:ne-resize;}

.m_l,.m_r{position:absolute;z-index:20;}
.m_l{top:0px; left:0; z-index:10; height:100%; cursor:w-resize;}
.m_r{top:0px; right:0; z-index:10; height:100%; cursor:e-resize;}

.b_l,.b_m,.b_r{position:absolute; bottom:0; z-index:20; font-size:0%;}
.b_l{left:0; cursor:sw-resize;}
.b_m{z-index:10; width:100%; cursor:s-resize;}
.b_r{right:0; cursor:se-resize;}

.m_m{width:100%; height:100%; font-size:12px; cursor:move;}