.logo{
	font-weight: normal;
	text-transform:uppercase;
	font-family:'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact',sans-serif;
	margin-bottom:0;margin-left:10px;
	color:#c44032;text-shadow:#863027 -0.02em 0.02em 0;
	margin-top:10px;
}
.logo span{display:inline-block;position:relative;letter-spacing:-0.01em;-webkit-transition:all 0.2s ease-out;
	font-size:1em;}
.logo span:hover{top:0.05em}
.logo .char1,.logo .char2,.logo .char3,.logo .char4,.logo .char5,.logo .char6,.logo .char7{
	text-shadow:#863027 -0.02em 0.02em 0;
}
.logo .char2, .logo .char11{color:#e36b23;text-shadow-color:#9b4d1f;}
.logo .char3, .logo .char10{z-index:10; color:#e6c92e; text-shadow-color:#9c8b26; } 
.logo .char4, .logo .char9{color:#5da028;text-shadow-color:#427021;}
.logo .char5, .logo .char8{color:#4584be;text-shadow-color:#2f597f;}
.logo .char6, .logo .char7{color:#7073cf;text-shadow-color:#4a4d88;}
.logo .char1{-webkit-transform:rotate(-3deg)}
.logo .char3{top:-0.05em;-webkit-transform:rotate(2deg)}
.logo .char4{top:-0.05em}
.logo .char6{top:-0.04em;-webkit-transform:rotate(-2deg)}
.logo .char7{}
.logo .char8{top:1px;-webkit-transform:rotate(-2deg)}
.logo .char9{-webkit-transform:rotate(2deg)}
.logo .char10{top:-65px;width:36px;}
.logo .char10:hover{-webkit-transition-duration:0.4s;}
.logo .char11{top:2px;left:-30px;width:50px;-webkit-transform:rotate(-3deg)}
.logo .char12{left:-24px}
#logo span{color:white;}