/* css reset */
 *{
	margin:0; padding:0;
	-moz-user-select:none;
}

/* For transition */
.level1_out, .level2_left,
.level2_content_up_in.mobile:hover,.level2_content_up_in.pad:hover,
.sectioninner,.sectionselector{
	-moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
}

/* overall set */
.nojs {display:none;}
html ,body{
	overflow:visible;
}
body {
	font-size:0.75em;
}
#bgdiv{position:absolute;top:0; left:0;}
.FloatWordspan{
	position:absolute;z-index:400;
	font-size:1em; font-weight:200; cursor:default;
}
#TimeTicker {
	font-size:1.1em;
	position:absolute; right:5px; top:0;
	z-index:3;
	display:inline-block; padding:0.15em 0.25em 0 0; cursor:default;
}
.bgdiv {position:absolute; top:0; left:0; height:100%; width:100%; background-size:cover; overflow:hidden; z-index :-100;}

/* level 1 css */
#logo,#logoMain{
	text-align:center;
}
#logo.mobile{
	float:left;
	font-size: 2em;
}
#logo.pad,#logo.computer{
	float:left;
	font-size:2em;
}
#logoMain.mobile,#logoMain.pad{
	font-size: 6em;
	font-size: 15vw;
}
#logoMain.computer{
	font-size: 13em;
}
.level1_out.mobile, .level1_out.pad, .level1_out.computer{
	padding:10% 3% 0; height:auto;
	text-align:center;
}
.level1_out.mobile {
	padding:0 5% 0;
}
.level1_in.mobile, .level1_in.pad, .level1_in.computer {
	display:inline-block; padding:0 5%;  width:100px;
	font-size:1.5em; font-weight:bold; text-align:center;
	cursor:pointer; zoom:1;
}
.level1_in.mobile {
	padding:0 3%;  width:37%;
	font-size:1.3em;
}
.level1_in.mobile  img{
	float:left;
	width:60px; height:60px;
}
.level1_in.mobile  span{
	float:left;
	width:2.7em;
}

#header{
	background:#474747;
	background:rgba(47,47,47,0.75); color:white;
	height:34px; position:absolute; width:100%; top:0; left:0; z-index:1000;
}
#section{
	float:right; width:auto;
}
.sectionmain{
	display:block;
}
.sectionmain.mobile,.sectionmain.pad{
	display:none;
}
.sectionselector.mobile,.sectionselector.pad{
	display:block;
}
#section:hover .sectionmain.mobile,#section:hover .sectionmain.pad{
	display:block;
	position:absolute;
	top:34px; right:0;
	background:#474747;
	background:rgba(47,47,47,0.75);
}
.sectionselector{
	display:none;
	float:left; right:0; padding:10px;
	cursor:pointer;
}
#section:hover .sectionselector{
	padding:10px 10px 7px 7px;
	border-left:3px solid white;
	border-bottom:3px solid white;
}
.sectioninner{
	float:left; right:0;
	padding:10px;
	cursor:pointer;
}
.sectioninner.active,.sectioninner:hover{
	margin:3px;
	padding:7px;
	background:white; color:#474747;
}
.sectioninner.active:hover{
	padding:10px 10px 7px;
	background:none; color:white;
	border-bottom: 3px solid #fff;
}
.sectioninner.active{
	margin:0px;
	padding:10px;
}
.mid{
	padding:10px 5% 128px; float:left;
	width:90%;
}
.mid.first{
	padding-bottom:0;
}
.slide{
}

/* Up chooser */
/* end*/




/* right */
.level2_right.mobile,.level2_right.pad {
	position:absolute; display:block; top:0; left:0;
	width:100%; height:100%;
}
.level2_right.mobile {
	clear:both; position:static;
	border-top:1px solid gray;
}
.level2_content.mobile,.level2_content.pad{
	position:relative; display:block; top:0; margin-left:70px;
	padding:0;  height:100%; z-index:50;
}
.level2_content.mobile{
	margin-left:0px; height:100%;
}
.searchboxinput.mobile,.searchboxinput.pad{
	width:50%; text-align:left;
	padding:0.25em 2em 0.25em 0.5em; margin:0.5em 0.5em 0.5em 1em;
	border-radius:5px;
}
.searchboxcode.mobile,.searchboxcode.pad{
	width:50%;
	padding:0.25em 0.5em 0.25em 0.5em; margin:0.5em 0.5em -0.5em 1em;
}
.searchboxtextie.mobile,.searchboxtextie.pad{
	width:50%; text-align:left; overflow:auto;
	padding:0.25em 0.25em 0.25em 0.5em; margin:0.5em 0.5em 0.25em 1em;
}
.searchboxclr.mobile,.searchboxclr.pad{
	width:auto; font-size:1.2em;
	padding:0 0.5em 0 0.5em; margin:0 0 0 -2.5em;
	border-left:1px solid gray;  cursor:pointer;
}
.searchboxsubmit.mobile,.searchboxsubmit.pad{
width:auto; font-size:1.2em; text-align:left;
padding:0.25em 0.5em 0.25em 0.5em; margin:0.5em 0.5em 0.25em 0.5em;
}
.in_txt.mobile,.in_icotxt.mobile,
.in_txt.pad,.in_icotxt.pad,
.in_txt.computer,.in_icotxt.computer {
	display:inline-block; width:100%; padding: 0px;
	font-size:1.2em; line-height: 1.7em; color:#3c3c3c;
}
.in_txt.mobile,.in_icotxt.mobile{
	display:inline-block; width:100%; padding: 0;
	font-size:1.2em; line-height: 1.7em; color:#3c3c3c;
}
.in_icotxt.pad,.in_icotxt.pad,
.in_icotxt.computer,.in_icotxt.computer {
	position:absolute; display:block; width:128px; height:auto; top:128px; left:0;
	padding:0.1em; z-index:20;
	line-height: 1.5em; color:#FFFFFF; text-align:center;
	cursor:pointer; background:#000000;
}
.in_ico.mobile,.in_ico.pad ,.in_ico.computer{
	float:left; display:block; height:128px; width:128px;
	font-size:1.2em; line-height: 1.7em; margin: 20px; text-align:center;
	position:relative;
	overflow:hidden;
}
.in_img.mobile,.in_img.pad,.in_img.computer{
	position:relative; left:0px; z-index:10;
}