/* css reset */
 *{
	margin:0; padding:0;
	-moz-user-select:none;
}

/* For transition */
.level1_out, .level2_left,
.level2_content_up_in.small:hover,.level2_content_up_in.mobile:hover,.level2_content_up_in.pad:hover,
.sectioninner,.sectionselector,
.floatdiv_linker a,.floatdiv_button,
.show-box{
	-moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
}

@font-face {
    font-family: "fantique-four";
    src: url('../fonts/fantique_four/fantique-four-webfont.eot');
    src: url('../fonts/fantique_four/fantique-four-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fantique_four/fantique-four-webfont.woff2') format('woff2'),
         url('../fonts/fantique_four/fantique-four-webfont.woff') format('woff'),
         url('../fonts/fantique_four/fantique-four-webfont.ttf') format('truetype'),
         url('../fonts/fantique_four/fantique-four-webfont.svg#fantique_fourregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* overall set */
.nojs {display:none;}
html ,body{
	overflow:visible;
}
body {
	font-size:0.75em;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}
#bgdiv{position:absolute;top:0; left:0;}
.FloatWordspan{
	position:absolute;z-index:400;
	font-size:1em; font-weight:200; cursor:default;
}
#TimeTicker {
	font-size:1.1em;
	position:absolute; right:5px; top:0;
	z-index:3;
	display:inline-block; padding:0.15em 0.25em 0 0; cursor:default;
}
.bgdiv {position:absolute; top:0; left:0; height:100%; width:100%; background-size:cover; overflow:hidden; z-index :-100;}

/* level 1 css */
#logo,#logoMain{
	font-family: "fantique-four",Arial Narrow,monospace;
	text-align: center;
	cursor: default;
}
#logo{
	color: white;
}
#logoMain{
	margin-left:-10px;
	width:100%;
}
#logo.small,#logo.mobile{
	float:left;
	font-size: 2em;
}
#logo.pad,#logo.computer{
	float:left;
	font-size:2em;
}
#logoMain.small,#logoMain.mobile{
	font-size: 5em;
}
#logoMain.pad{
	font-size: 10em;
}
#logoMain.small,#logoMain.mobile,#logoMain.pad{
	font-size: 18vw;
}
#logoMain.computer{
	font-size: 18em;
}
.level1_out.small,.level1_out.mobile, .level1_out.pad, .level1_out.computer{
	padding:10% 3% 0; height:auto;
	text-align:center;
}
.level1_out.small, .level1_out.mobile {
	padding:0 5% 0;
}
.level1_in.small,.level1_in.mobile, .level1_in.pad, .level1_in.computer {
	display:inline-block; padding:0 5%;  width:100px;
	font-size:1.5em; font-weight:bold; text-align:center;
	cursor:pointer; zoom:1;
}
.level1_in.small,.level1_in.mobile {
	padding:0 3%;  width:37%;
	font-size:1.3em;
}
.level1_in.small  img,.level1_in.mobile  img{
	float:left;
	width:60px; height:60px;
}
.level1_in.small span,.level1_in.mobile  span{
	float:left;
	width:2.7em;
}

#header{
	background:#474747;
	background:rgba(47,47,47,0.75); color:white;
	height:34px; position:absolute; width:100%; top:0; left:0; z-index:99;
}
#section{
	float:right; width:auto;
}
.sectionmain{
	display:block;
}
.sectionmain.small,.sectionmain.mobile{
	display:none;
}
.sectionselector.small,.sectionselector.mobile{
	display:block;
}
#section:hover .sectionmain.small,#section:hover .sectionmain.mobile{
	display:block;
	position:absolute;
	top:34px; right:0;
	background:#474747;
	background:rgba(47,47,47,0.75);
}
.sectionselector{
	display:none;
	float:left; right:0; padding:10px;
	cursor:pointer;
}
#section:hover .sectionselector{
	padding:10px 10px 7px 7px;
	border-left:3px solid white;
	border-bottom:3px solid white;
}
.sectioninner{
	float:left; right:0;
	padding:10px;
	cursor:pointer;
}
.sectioninner.active,.sectioninner:hover{
	margin:3px;
	padding:7px;
	background:white; color:#474747;
}
.sectioninner.active:hover{
	padding:10px 10px 7px;
	background:none; color:white;
	border-bottom: 3px solid #fff;
}
.sectioninner.active{
	margin:0px;
	padding:10px;
}
.mid{
	padding:10px 1% 128px; float:left;
	width:97%;
}
.mid.first{
	padding-bottom:0;
}
.slide{
}

/* Up chooser */
/* end*/




/* right */
.level2_right.small,.level2_right.mobile,.level2_right.pad {
	position:absolute; display:block; top:0; left:0;
	width:100%; height:100%;
}
.level2_right.small,.level2_right.mobile {
	clear:both; position:static;
	border-top:1px solid gray;
}
.level2_content.small,.level2_content.mobile,.level2_content.pad{
	position:relative; display:block; top:0; margin-left:70px;
	padding:0;  height:100%; z-index:50;
}
.level2_content.small,.level2_content.mobile{
	margin-left:0px; height:100%;
}

.searchboxinput{
	width:50%; text-align:left;
	padding:0 0.5em; margin:0.5em 0.5em 0.5em 1em;
	height:20px;
}
.searchboxcode{
	width:50%;
	padding:0.25em 0.5em 0.25em 0.5em; margin:0.5em 0 -0.5em 1em;
}
.searchboxtextie{
	width:50%; text-align:left; overflow:auto;
	padding:0.25em 0.25em 0.25em 0.5em; margin:0.5em 0.5em 0.25em 1em;
}
.searchboxsubmit{
width:64px; height:24px; text-align:center;
padding:0 0.5em; margin:0.5em 0.5em 0.5em -0.55em;
}

.in_txt.small,.in_icotxt.small,
.in_txt.mobile,.in_icotxt.mobile,
.in_txt.pad,.in_icotxt.pad,
.in_txt.computer,.in_icotxt.computer {
	display:inline-block; width:100%; padding: 0px;
	font-size:1.2em; line-height: 1.7em; color:#3c3c3c;
}
.in_txt.small,.in_icotxt.small,
.in_txt.mobile,.in_icotxt.mobile{
	display:inline-block; width:100%; padding: 0;
	font-size:1.2em; line-height: 1.7em; color:#3c3c3c;
}
.in_icotxt.pad,.in_icotxt.pad,
.in_icotxt.computer,.in_icotxt.computer {
	position:absolute; display:block; width:128px; height:auto; top:128px; left:0;
	padding:0.1em; z-index:20;
	line-height: 1.5em; color:#FFFFFF; text-align:center;
	cursor:pointer; background:#000000;
}
.in_ico{
	float:left; display:block; height:128px; width:128px;
	font-size:1.2em; line-height: 1.7em; margin: 20px; text-align:center;
	position:relative; overflow:hidden;
}
.in_img{
	position:relative; left:0px; z-index:10;
}

.slimScrollBar{
	right:0px; display:block;
}
.show-box{
	height:40px; width:80%; border:1px dashed red;
	margin:0.5em 0.5%; padding:0.5em 1%; float:left;position:relative;
	cursor:pointer; background:#dfdfdf; border-radius:5px;
}
.show-box:hover{
	background:#fcfcfc; border-radius:10px;
}
.show-box.bxf2{
	margin:0.5em 0 0 10px; padding:0.5em 0;
	height:40px; width:160px;
}
.show-box.bxf3{
	margin:0.5em 0 0 1em; padding:0.5em 0;
	height:40px; width:80%;
}
.show-box.bx1{
	height:40px; width:90%;
}
.show-box.bx2{
	height:60px; width:45%;
}
.show-box.bx3{
	height:80px; width:30%;
}
.show-box.bx4{
	height:100px; width:21.5%;
}
.show-box.bx5{
	height:100px; width:16.5%;
}
.show-imgbox{
	text-align:center; position:absolute;
	height:100%; float:left; left:10px;
	border-radius:8px; overflow:hidden;
}
.show-img,.show-imgbox{
	height:40px; width:40px;
}
.show-img.bx2,.show-imgbox.bx2{
	height:60px; width:60px;
}
.show-img.bx3,.show-imgbox.bx3{
	height:80px; width:80px;
}
.show-img.bx4,.show-imgbox.bx4{
	height:100px; width:100px;
}
.show-img.bx5,.show-imgbox.bx5{
	height:100px; width:100px;
}
.show-txt{
	display:block;
	overflow:hidden;
	text-overflow:ellipsis; white-space:nowrap;
	color:black; background:none;
	text-align:center;
	line-height: 1.7em;
}
.show-txt{
	font-size:1em;
}
.show-txt.bx2{
	font-size:1.1em;
}
.show-txt.bx3{
	font-size:1.2em;
}
.show-txt.bx4{
	font-size:1.3em;
}
.show-txt.bx5{
	font-size:1.4em;
}
.show-txt.pdl{
	padding:0 0 0 40px;
}
.show-txt.bx2.pdl{
	padding:0 0 0 60px;
}
.show-txt.bx3.pdl{
	padding:0 0 0 80px;
}
.show-txt.bx4.pdl{
	padding:0 0 0 100px;
}
.show-txt.bx5.pdl{
	padding:0 0 0 100px;
}